.service_title {
  /* Dostępne usługi */

  position: absolute;
  width: 500px;
  height: 77px;
  left: 239px;
  top: 241px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 90px;

  color: #ffffff;
}

.services_button {
  /* Rectangle 8 */

  position: absolute;
  width: 680px;
  height: 79px;
  left: 113px;
  top: 370px;
  background: #e01010;
  border-radius: 50px;
  color: white;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 80px;
  text-align: center;
}
.services_button:hover {
  border: 1px solid rgb(255, 255, 255);
  font-weight: bolder;
}

.services_button2 {
  position: absolute;
  width: 680px;
  height: 79px;
  left: 113px;
  top: 488px;
  background: #e01010;
  border-radius: 50px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
}
.services_button2:hover {
  border: 1px solid rgb(255, 255, 255);
  font-weight: bolder;
}
.services_button3 {
  position: absolute;
  width: 680px;
  height: 79px;
  left: 113px;
  top: 606px;
  background: #e01010;
  border-radius: 50px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
}
.services_button3:hover {
  border: 1px solid rgb(255, 255, 255);
  font-weight: bolder;
}
.services_button4 {
  position: absolute;
  width: 680px;
  height: 79px;
  left: 113px;
  top: 724px;
  background: #e01010;
  border-radius: 50px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
}
.services_button4:hover {
  border: 1px solid rgb(255, 255, 255);
  font-weight: bolder;
}

.icon {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 834px;
  top: 375px;

  background: #534e4e;
  border-radius: 6px;
}

.icon:hover {
  border: 1px solid rgb(255, 255, 255);
  font-weight: bolder;
}

.icon2 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 834px;
  top: 493px;

  background: #534e4e;
  border-radius: 6px;
}
.icon2:hover {
  border: 1px solid rgb(255, 255, 255);
  font-weight: bolder;
}

.icon3 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 834px;
  top: 611px;

  background: #534e4e;
  border-radius: 6px;
}
.icon3:hover {
  border: 1px solid rgb(255, 255, 255);
  font-weight: bolder;
}

.icon4 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 834px;
  top: 729px;
  background: #534e4e;
  border-radius: 6px;
}
.icon4:hover {
  border: 1px solid rgb(255, 255, 255);
  font-weight: bolder;
}

.movie_top {
  position: absolute;
  width: 350px;
  height: 339.15px;
  left: 1086px;
  top: 169px;
}

.movie_top2 {
  position: absolute;
  width: 350px;
  height: 324px;
  left: 1436px;
  top: 184px;
}

.movie_bot {
  position: absolute;
  width: 350px;
  height: 315.16px;
  left: 1086px;
  top: 498px;
}

.movie_bot2 {
  position: absolute;
  width: 350px;
  height: 315px;
  left: 1436px;
  top: 498px;
}
