.title {
  position: absolute;
  width: 185px;
  height: 77px;
  left: 887px;
  top: 20px;

  font-family: "League Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;

  color: #ff0000;
}

.text {
  position: absolute;
  width: 1483px;
  height: 2107px;
  left: 246px;
  top: 230px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

  color: #ff0000;
}
.text2 {
  position: absolute;
  width: 1483px;
  height: 2107px;
  left: 20px !important;
  top: 1500px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

  color: #ff0000;
}
.about_img {
  position: absolute;
  left: 400px !important;
  top: 900px !important ;
}
