.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  background-color: #0b0909;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.home_right {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.home_top {
  /* min-height: 15vh; */
  /* background-color: aqua; */
}

.start_button {
  position: absolute;
  width: 303px;
  height: 90px;
  left: 1353px;
  top: 495px;
  color: #ffffff;
  background-color: #e01010;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
}

.start_button:hover {
  background-color: red;
  /* border-radius: 10px; */
  border: 1px solid rgb(255, 255, 255);
  font-weight: bolder;
}

.home_top_about {
  /* O portalu */
  position: absolute;
  width: 152px;
  height: 43px;
  left: 17npm10px;
  top: 12px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  color: #ffffff;
}
.home_top_about:hover {
  border: 3px solid #ffffff;
  border-radius: 10px;
}

.home_subtitle {
  /* Strona internetowa poświecona filmom oraz widzom */

  position: absolute;
  width: 772px;
  height: 96px;
  left: 1119px;
  top: 351px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #ffffff;
}
.startowa {
  position: absolute;
  width: 919px;
  height: 589px;
  left: 116px;
  top: 245px;
}
.home_right_title {
  /* Geoportal */

  position: absolute;
  width: 423px;
  height: 115px;
  left: 1293px;
  top: 188px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 115px;

  color: #ffffff;
}
